@font-face{
	font-family:playfair display;
	src:url('./font/playfair display/PlayfairDisplay-Bold.ttf');
}

body{
	font-family: playfair display;
	background-image: url(./img/connection.jpg);
	background-attachment: fixed;
	background-repeat: ;
	background-size: cover;
	width:300px;
	height:100%;
	position: relative;
}
nav a{
	padding-left:55px;
}
ul li a {
	 /*position: static;*/
    display: table-caption;
    color:
    border-bottom: none;
    padding-left: 14px;
    margin-left: 880px;
}
.navbar-default{
	background-color: transparent;
	border:none;
}
.navbar-default .navbar-brand{
	color: #1597ff
}
.navbar-brand{
	background-color: #ffffff;
    width: 40px;
     color: aqua; 
    font-size: 28px;
    border: #1ed3f9;
    border-style: double;
    padding-top: 11px;
    padding-right: 30px;
    padding-left: 8px;
    border-radius: 50%;
    /* margin-top: 49px; */
    /* margin-right: 173px; */
    height: 45px;
}
.navbar-brand:hover{
	background-color: #ffffff;
	color: aqua;
}
#cover-heading p{
	padding-top: 160px;
	color: #ffffff;
    font-size: 24px;
    margin-bottom: 2px;
}
#cover-heading p b{
	color: #2476b7;
}
#cover-heading h1{
	line-height: 0.5;
	color: /*#084b81*/ #ffffff;
    font-size: 68px;
    word-spacing: 20px;
}
#cover-heading .link{
    margin-top: 16px;
    margin-left: 502px;
    background-color: white;
    width: 170px;
    font-size: 18px;
    color: #2196F3;
    border-radius: 17px;
}
#cover-heading .link:hover{
	background-color: transparent;
	color: #ffffff;
	/*border:double;*/
	border-color: #ffffff;
}
 .href{
	background-color: #ffffff;
    width: 40px;
    border-radius: 12px;
    border-color: transparent;
    float: right;
     margin-right: -977px;
    padding-right: 39px;
}
.href img{
	height: 30px;
    width: 30px;
}
.close{
	color: red;
}
.cover-heading b{
		font-style: italic;
		font-weight: 900 !important;
		color: rgb(80, 80, 80);
		animation-name: ferrr;
		animation-duration: 2s;
		transition: all .4s ease;
		animation-direction: alternate;
		animation-iteration-count:infinite;
		/*font-family: 'Segoe UI Italic' !important;*/
	}
	@keyframes ferrr{
		from{
			font-style: italic;
			color: rgb(80, 80, 80);
		}
		to{
			font-style: normal !important;
			color:#ffffff;
			padding-left: 5px;
			/*position: absolute;*/
			/*top: 20%;*/
		}
	}
#footerImg{
	display: inline-flex;
	 margin-left: 500px;
}
#footerImg img{
	width: 50px;
	height: 50px;
	 margin-top: 229px;
	 margin-left: 20px;
}
.clock {
  font-size: 4em;
  color: #ffffff;
}








.mainText{
	/*color: white;
	margin-left: 120px;*/
/*	font-size: 34px*/;
}
	/*<nav class="navbar navbar-stactic-top">
			<div class="navbar-header">
				<a href="#" class="navbar-brand"></a>
			</div>
			<ul class=" navbar-nav navbar-right">
				<li><a href="#" class="active">	Home</a></li>
				<li><a href="#">MeetPeople</a></li>
				<li><a href="">Team</a></li>
				<li><a href="">AboutUs</a></li>
				<!-- <li><a href="">AboutUs</a></li> -->
			</ul>
		</nav>*/